<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.spring.todo.model.dao.TodoDao">

<select  id="selectTodoList" resultMap="todoMap">
select * 
from (   select * from todo where completed_at is  null order by no asc)
union all 
select * from ( select * from todo where completed_at is not null  order by  completed_at desc)
</select>

<resultMap type="todo" id="todoMap">
</resultMap>

<insert id="insertTodo">
insert into todo values(
	seq_todo_no.nextval,#{todo},default,default)
</insert>

<update id="updateTodo">
update todo
set
	<if test="isCompleted">
	    completed_at = sysdate 
	</if>
	
	<if test="!isCompleted">
	    completed_at = null 
	</if>
where no = #{no}
</update>

</mapper>
